h2 {
  text-shadow: none;
}

.other {
  max-width: 400px;
}

.descList {
  margin-top: 10px;
  margin-left: 20px;
  li {
    margin-top: 3px;
    font-size: 14px;
  }
  ul {
    list-style-type: none;
  }
  ul li:before {
    content: "-";
    position: absolute;
    margin-left: -20px;
  }
  .sublist-item {
    margin-left: 20px;
  }
}
.desc {
  margin-top: 5px;
}
