<div class="other">
  <div class="part" *ngFor="let part of getOtherInfo()">
    <app-bar [className]="'noShadow ' + (lightMode ? 'wh' : 'gr')"></app-bar>
    <h2>
      <app-md-content
        [lightMode]="lightMode"
        [content]="part.title"
      ></app-md-content>
    </h2>
    <div *ngIf="part.description != ''" class="desc">
      <p>
        <app-md-content
          [lightMode]="lightMode"
          [content]="part.description"
        ></app-md-content>
      </p>
    </div>
    <div *ngIf="part.list.length != 0" class="descList">
      <ul>
        <li
          *ngFor="let item of part.list"
          [style.opacity]="lightMode ? 1 : 0.7"
        >
          <app-md-content
            [lightMode]="lightMode"
            [content]="item"
            *ngIf="!isArray(item)"
          ></app-md-content>
          <ul *ngIf="isArray(item)">
            <li
              *ngFor="let subItem of item"
              class="sublist-item"
              [style.opacity]="lightMode ? 1 : 0.7"
            >
              <app-md-content
                [lightMode]="lightMode"
                [content]="subItem"
              ></app-md-content>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div [style.height]="getSpacingByName(part.id) + 'px'"></div>
  </div>
</div>
