<div
  class="background"
  [class]="getMode().isViewMode ? '' : 'leftHeight'"
  style="margin-bottom: 100px"
>
  <img [src]="getImage()" alt="picture" class="foto" *ngIf="getImage() != ''" />
  <div class="container">
    <app-bar className="wh" *ngIf="getImage() != ''"></app-bar>
    <div
      [ngSwitch]="getLanguage()"
      [style.padding-top.px]="getImage() != '' ? 0 : 50"
    >
      <h2 *ngSwitchCase="'DE'">Kontakt</h2>
      <h2 *ngSwitchCase="'RU'">Контакт</h2>
      <h2 *ngSwitchCase="'ES'">Contacto</h2>
      <h2 *ngSwitchCase="'FR'">Contact</h2>
      <h2 *ngSwitchDefault>Contact</h2>
    </div>
    <app-contact></app-contact>
    <div [style.height]="getSpacingByName('contact') + 'px'"></div>

    <app-skills></app-skills>
    <div [style.height]="getSpacingByName('skills') + 'px'"></div>
    <app-bar className="wh"></app-bar>
    <div>
      <div [ngSwitch]="getLanguage()">
        <h2 *ngSwitchCase="'DE'">Sprachen</h2>
        <h2 *ngSwitchCase="'RU'">Языки</h2>
        <h2 *ngSwitchCase="'ES'">Idiomas</h2>
        <h2 *ngSwitchCase="'FR'">Langues</h2>
        <h2 *ngSwitchDefault>Languages</h2>
      </div>
      <p
        style="margin-top: 20px"
        *ngFor="let lang of getGeneralInfo().languages"
      >
        <b>{{ lang.split("-")[0] }}</b
        >{{ lang.split("-")[1] == undefined ? "" : "-" + lang.split("-")[1] }}
      </p>
    </div>
    <div [style.height]="getSpacingByName('languages') + 'px'"></div>
    <div style="margin-right: 30px">
      <app-other
        [content]="getProps().getOtherLeft()"
        [lightMode]="true"
      ></app-other>
    </div>
  </div>
</div>
