<!-- <div class="bigbar"></div> -->
<div class="rightBar">
  <p class="name">
    {{ getGeneralInfo().firstname }}
    <span style="color: var(--primary)">{{ getGeneralInfo().lastname }}</span>
  </p>
  <div
    [ngSwitch]="getLanguage()"
    style="margin-top: 40px"
    *ngIf="getGeneralInfo().dob && getGeneralInfo().pob"
  >
    <p *ngSwitchCase="'DE'">
      <span>
        Geburtsdatum: <b>{{ getGeneralInfo().dob }}</b>
        <br />
        Geburtsort: <b>{{ getGeneralInfo().pob }}</b>
      </span>
    </p>
    <p *ngSwitchCase="'RU'">
      <span>
        Дата рождения: <b>{{ getGeneralInfo().dob }}</b>
        <br />
        Место рождения: <b>{{ getGeneralInfo().pob }}</b>
      </span>
    </p>
    <p *ngSwitchCase="'FR'">
      <span>
        Date de naissance: <b>{{ getGeneralInfo().dob }}</b>
        <br />
        Lieu de naissance: <b>{{ getGeneralInfo().pob }}</b>
      </span>
    </p>
    <p *ngSwitchCase="'ES'">
      <span>
        Fecha de nacimiento: <b>{{ getGeneralInfo().dob }}</b>
        <br />
        Lugar de nacimiento: <b>{{ getGeneralInfo().pob }}</b>
      </span>
    </p>
    <p *ngSwitchDefault>
      <span>
        Date of birth: <b>{{ getGeneralInfo().dob }}</b>
        <br />
        Place of birth: <b>{{ getGeneralInfo().pob }}</b>
      </span>
    </p>
  </div>

  <app-bar className="gr noShadow"></app-bar>
  <div [ngSwitch]="getLanguage()">
    <h2 *ngSwitchCase="'DE'">Berufserfahrung</h2>
    <h2 *ngSwitchCase="'RU'">Опыт работы</h2>
    <h2 *ngSwitchCase="'ES'">Experiencia laboral</h2>
    <h2 *ngSwitchCase="'FR'">L'expérience professionnelle</h2>
    <h2 *ngSwitchDefault>Work experience</h2>
  </div>
  <app-jobs></app-jobs>
  <div [style.height]="getSpacingByName('work') + 'px'"></div>

  <app-bar className="gr noShadow"></app-bar>
  <div [ngSwitch]="getLanguage()">
    <h2 *ngSwitchCase="'DE'">Bildungsweg</h2>
    <h2 *ngSwitchCase="'RU'">Образование</h2>
    <h2 *ngSwitchCase="'ES'">Educación</h2>
    <h2 *ngSwitchCase="'FR'">Éducation</h2>
    <h2 *ngSwitchDefault>Education</h2>
  </div>
  <app-education></app-education>
  <div [style.height]="getSpacingByName('education') + 'px'"></div>
  <app-other style="margin-bottom: 100px"></app-other>
</div>
