<div class="skillsContainer" *ngIf="getSkillsInfo() !== undefined">
  <div class="bar wh"></div>
  <div [ngSwitch]="getLanguage()">
    <h2 *ngSwitchCase="'DE'">Fähigkeiten</h2>
    <h2 *ngSwitchCase="'RU'">Навыки</h2>
    <h2 *ngSwitchCase="'ES'">Habilidades</h2>
    <h2 *ngSwitchCase="'FR'">Compétences</h2>
    <h2 *ngSwitchDefault>Skills</h2>
  </div>
  <div *ngFor="let row of getSkillsInfo()">
    <div class="row">
      <div *ngFor="let skill of row">
        <div class="skill">
          <a [href]="skill.link" target="_blank">
            <img [src]="skill.url" class="icon" [alt]="skill.name" />
            <p class="name">{{ skill.name }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
