* {
  color: white;
}
.icon {
  width: 40px;
  height: 40px;
  //background-color: red;
  margin-left: 5px;
  filter: brightness(0) invert(1);
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 20px;
    width: 60px;
    .skill-bar-outline {
      width: 60px;
      height: 4px;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 5px;
      margin-top: 5px;
    }
    .skill-bar-fill {
      height: 4px;
      background-color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 5px;
      margin-top: -8px;
    }
  }
}
.name {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  white-space: pre-line;
}
