.search-bar {
  position: fixed;
  width: 500px;
  border-radius: 15px;
  background-color: rgb(224, 224, 224);
  border: 3px solid rgb(224, 224, 224);
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 10px;
  flex-direction: column;
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  .row:first-child {
    margin-top: 10px;
  }
  b {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
  }
  input[type="text"] {
    border: none;
    width: 100%;
    font-size: 20px;
    margin-left: 10px;
    color: black;
    background-color: transparent;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    &:focus {
      outline: none;
    }
  }
  i {
    font-size: 25px;
    color: black;
    margin-right: 20px;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--primary);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 20px;
  }
}

.error {
  border: 3px solid red;
}

.search {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.bg {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.rotate {
  animation: rotate 1s linear infinite;
}

.doShake {
  animation: shake 0.2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes shake {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-55%);
  }
  50% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-55%);
  }
  100% {
    transform: translateX(-50%);
  }
}
