.job {
  margin-top: 25px;
  width: 400px;
  .jobHeader {
    display: flex;
    justify-content: space-between;
    .jobTitle {
      font-size: 14px;
      font-weight: bold;
    }
    .jobDate {
      font-size: 14px;
      color: var(--primary);
      opacity: 0.7;
      /*color: gray;*/
    }
    .jobLogo {
      width: 150px;
      filter: brightness(0) invert(0);
      opacity: 0.05;
      margin-left: -100px;
      margin-right: -50px;
      margin-top: -20px;
      margin-bottom: -130px;
    }
  }
  .compInfo {
    margin-top: 5px;
    p {
      font-size: 14px;
      font-weight: 400;
      a {
        font-size: 14px;
        text-decoration: none;
        color: black;
      }
    }
  }
}

.description {
  margin-top: 5px;
  margin-left: 20px;
  li {
    font-size: 14px;
    font-weight: 100;
  }
  ul {
    list-style-type: none;
    color: black;
    opacity: 0.7;
  }
  ul li:before {
    content: "-";
    position: absolute;
    margin-left: -20px;
  }
}

.used-lang {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  opacity: 0.7;
  img {
    width: 20px;
    margin-left: 10px;
    filter: brightness(0) invert(0);
  }
}
