<div class="jobs">
  <div *ngFor="let job of getJobsInfo()">
    <div class="job">
      <div class="jobHeader">
        <p class="jobTitle">{{ job.job.toUpperCase() }}</p>
        <img
          class="jobLogo"
          [src]="job.logo"
          alt=""
          *ngIf="job.logo !== undefined && job.logo !== ''"
        />
        <p class="jobDate">
          <i>{{ job.date }}</i>
        </p>
      </div>
      <div class="compInfo">
        <p>
          <a [href]="job.url" target="_blank" *ngIf="job.url != ''">{{
            job.company
          }}</a
          >{{ (job.url == "" ? job.company : "") + " - " + job.location }}
        </p>
      </div>
      <div class="description">
        <ul>
          <li *ngFor="let d of job.description">{{ d }}</li>
        </ul>
      </div>
      <div class="used-lang" *ngIf="job.use">
        <!-- <p [ngSwitch]="getLanguage()">
          <span *ngSwitchCase="'EN'">Used:</span>
          <span *ngSwitchCase="'DE'">Benutzt:</span>
          <span *ngSwitchCase="'RU'">Используемые:</span>
          <span *ngSwitchCase="'FR'">Utilisé:</span>
          <span *ngSwitchCase="'ES'">Usado:</span>
        </p> -->

        <div class="icon" *ngFor="let u of job.use">
          <a [href]="u.link" target="_blank" *ngIf="u.link">
            <img [src]="parseIconPath(u.icon)" />
          </a>
          <img [src]="parseIconPath(u.icon)" *ngIf="!u.link" />
        </div>
      </div>
    </div>
  </div>
</div>
